<!DOCTYPE html>          
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Mogotio County Council</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
   <p align="center" ><img src="download.png" width="120 px" height="100px"></p>
    <h1 class="form-title ">Mogotio County Council</h1> 
</head>
<body>
   
</div>
    
    <div class="container" id="signIn">
        <h1 class="form-title">SignIn</h1>
        <form method="post" action="reg.php">
          
        <div class="input-group">
            <i class="fas fa-phone" ></i>
            <input type=" Phone number" name="Phone number" id="Phone number" placeholder="Phone Number" required>
            <label for=" Phone Number">Phone Number</label>

        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <lable for="password">Password</lable>
        </div>
        <p class="recover" >
            <a href="#">Recover Password</a>

        </p>
        <input type="submit" class="btn" value="signin" name="SignIn">
        </form>
    </div>
    <div class="links">
        <p>Don't have an account yet?</p>  
        <button id="signUpButton" onclick="window.location.href='register.html'"  >Sign Up</button>
        </div> 
</div>
<script src="script.js"></script>
<footer> 
  
        
        <div class="rights-reserved">
            <p>&copy; 2024 Mogotio County Coucil. All Rights Reserved.</p>
        </div>
    
</footer>
</body>
</html>